[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask-cors = "*"
flask-jwt-extended = "*"
pymysql = "*"
passlib = "*"
python-dotenv = "*"
flask-sqlalchemy = "*"
bcrypt = "*"
flask-socketio = "*"
requests = "*"
pymongo = "*"
flask-mail = "*"
reportlab = "*"
redis = "*"

[dev-packages]

[requires]
python_version = "3.9"
